@import "global";
@import "var";
@import "mixins";

.opacity-1{
    opacity: 1;
}

.opacity-0{
    opacity: 0;
}

@media only screen and (max-width: '400px'){

    .logo{
        border: 1px solid greenyellow;
    }

    .container{
        max-width: 90vw;
    }
    .header{

        border: 1px solid lime;
        width: 90vw;
        

    }
}

.nav-btn-m{
    border: 1px solid red;
    // width: 100vw;
    height: 100vh;
    background-color: $col2;
    
}

// Hamburger Menu

.navBar-m #hamburgerBar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
    position: relative;

    transition: 0.3s ease-in-out;

    & .bar{
        width: 60px;
        height: 10px;
        background-color: $col4;
        border-radius: 20px;
    }

}

.nav-btn-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 100;
    transform: translateX(15rem);


    .nav-btns-m li{
        border: 1px solid green;
        margin: 1rem;
        padding: 1rem;
    }
}



.nav-btn-m ul li{
    list-style: none;
    font-size: 2rem;

}


// Hamburger Bar Movements On Click

.bar{
    transition: 0.2s ease-in-out;
}

.icon .bar1{
    transform: translateY(1.75rem) rotate(45deg);
}

.icon .bar2{
    opacity: 0;
}

.icon .bar3{
    transform: translateY(-1.75rem) rotate(-45deg);
}

